.Cell {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    border-right: 1px solid green;
    padding: 1rem;
}

.Cell:last-child {
    border-right: 0;
}

.Cell:after {
    content: "";
    display: block;
    padding-bottom: 120%;
}

.IsSelected {
    background-color: lightgreen;
}